/* ======= Google font import ======= */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Overpass:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap");

/* ========Tailwind directive ========= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== styles ====== */
@layer components {
  .delete-user-button {
    @apply flex justify-end absolute px-4 py-2
    top-[3%] right-[3%] items-center border-double border-4 
    border-red-300 cursor-pointer hover:bg-red-400 rounded-lg
    hover:text-white;
  }
  .user-registration {
    @apply flex mt-4 border-solid border-2 border-gray-400 flex 
    rounded-md max-w-prose max-w-screen-md p-2;
  }
  .button {
    @apply flex mt-4 border-solid border-2 border-black 
    rounded-lg px-4 py-2 cursor-pointer bg-indigo-200
    hover:bg-black hover:text-white;
  }
  .budget-form {
    @apply flex-grow flex-wrap relative grid 
    max-w-[100%] gap-4 border-2 border-solid border-black 
    rounded-lg p-3 bg-gray-100;
  }
  .budget-form-input {
    @apply grid w-full gap-2;
  }
  .expense-form-input {
    @apply flex gap-2;
  }
  .create-budget-button {
    @apply flex mt-4 border-solid border-2 border-black 
    rounded-lg px-4 py-2 cursor-pointer bg-indigo-200
    hover:bg-black hover:text-white w-fit;
  }
  .existing-budgets {
    @apply flex flex-wrap gap-4;
  }
  .budget-cards {
    @apply grid flex-1 flex-shrink-0 w-[32.2%]
    max-w-[600px] shadow-2xl bg-gray-100 border-gray-500 border-2 
    border-solid rounded-lg no-underline py-4 px-5 gap-4 ;
  }
  .budget-card-list {
    @apply flex items-center justify-between gap-4;
  }
}
